<% provide(:title, "Home") %>
<% if logged_in? %>
  <div>
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<%else%>
  <h1>Welcome to the Sample App</h1>
  <div>
    <%= link_to "Login", login_path, class: "btn btn-lg btnprimary" %>
  </div>
  <div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btnprimary" %>
  </div>

<% end %>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200")%>