<% provide(:title,'Reset Password') %>
<h1> Reset password</h1>
<div>
  <div>
    <%= form_with(model: @user,url:password_reset_path(params[:id]), local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :email,@user.email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit "Update Password" %>
    <% end %>
  </div>
</div>